/*index.html*/
body {
    display: block;
    /*min-width: 1366px;*/
    /*min-height: 768px;*/
    /*max-width: 1920px;*/
    /*max-height: 1080px;*/
    background: url("../image/14-3.png"), no-repeat url("../image/14-2.png"), no-repeat url("../image/14-1.png"), no-repeat url("../image/14-0.png"), no-repeat url("../image/13.png"), no-repeat url("../image/15.png"), no-repeat url("../image/10.png"), no-repeat url("../image/11.png"), no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    border-width: 0em;
}

.bg {
    position: relative;
    /*display: block;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*min-width: 1366px;*/
    /*min-height: 768px;*/
    font-family: "Microsoft YaHei UI", sans-serif;
    /*background-size: cover;*/
}

.head {
    width: 100%;
    height: 5%;
    padding: 15px 0 0 15px;
}

label {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background-color: white;
}

.shixun {
    width: 236px;
    height: 30px;
    padding-bottom: 15px;
    display: block;
    background: url("../image/shixun.png") no-repeat;
}

.content {
    display: block;
    width: 100%;
    height: 90%;
    padding: 11.2% 0;
}

.content-mid {
    display: block;
    width: 450px;
    height: 100%;
    margin: 0 auto;
    /*padding-top: 215px;*/
}

.foot {
    display: block;
    position: absolute;
    bottom: 0;
    padding-top: 10%;
    /*padding-bottom: 60px;*/
    width: 100%;
    /*min-width: 1366px;*/
    height: 15%;
    /*padding: 0 40%;*/
    text-align: center;
    color: white;
}

.foot * {
    display: inline-block;
}

.back-light {
    /*width: 1080px;*/
    /*height: 212px;*/
    /*background: url("Public/image/light.png") no-repeat;*/
    /*background-size: cover;*/
}

.login-box {
    width: 450px;
    /*margin: 260px auto 0;*/
    /*border: 1px red solid;*/
    color: #515151;
}

.login-box p {
    /*margin: 1em;*/
    margin-bottom: 1em;
}

.login-box h2 {
    font-size: 3em;
    color: white;
    text-align: center;
    margin: 1em;
}

.login-form {
    box-sizing: border-box;
    width: 450px;
    height: 275px;
    background: url("../image/login-bg.png") no-repeat;
    padding: 1em 4em;
    text-align: center;
    font-size: 14px;
}

.input-bg {
    width: 361px;
    height: 41px;
    background: url("../image/input-bg.png") no-repeat;
    background-size: cover;
    padding: 0 0 0 8px;
}

.icon {
    position: relative;
    top: 8px;
    display: inline-block;
    width: 34px;
    height: 27px;
    background: url("../image/login-p&s.png") no-repeat;
}

.icon1 {
}

.icon2 {
    background-position-x: -40px;
}

input {
    background-color: transparent;
    width: 310px;
    height: 30px;
}

.check-box {
    margin-top: 8px;
    text-align: right;
}

.check-box input {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.login-btn {
    background-color: #505f91;
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.8em;
}

.logo {
    bottom: 0;
    display: block;
    width: 105px;
    height: 34px;
    background: url("../image/tianyan-logo.png") no-repeat;
    margin: 0 auto;
    padding-bottom: 30px;
}

.foot ul li {
    display: block;
    float: left;
    margin-top: 45px;
}

.foot ul li:last-child {
    position: absolute;
    right: 0;
    padding-top: 20px;
}

.ltd {
    height: 34px;
    width: 200px;

    /*text-align: end;*/
    text-transform: uppercase;
}